<div class="header">
  <div class="header-content">
    <div>
      <img
        [routerLink]="[' ']"
        src="https://animachatbotics.com/Images/bot/%E1%83%9A%E1%83%A3%E1%83%90%E1%83%A0%E1%83%A1%E1%83%90%E1%83%91%E1%83%98-637597866258461383-10361333_874486769259695_5067110923060749287_n.jpg"
        alt="luarsabimg"
      />
    </div>
    <div>
      <h1>ოხ, რა ძლიერ გამოვძეხი!</h1>
    </div>
    <div>
      <a [routerLink]="[' ']">Home</a>
      <button class="order-now" [routerLink]="['/orderNow']">Order now</button>
    </div>
  </div>
</div>
